<div class="card">
    <button mat-button [matMenuTriggerFor]="laboratorioMenu" (click)="setActive('laboratorio')"
            [ngClass]="{'active': activeButton === 'laboratorio'}">
      <div class="valign-center">
        <span class="dropdown-text">
          <span>Labóratorio</span>
        </span>
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </div>
    </button>
  
    <mat-menu #laboratorioMenu="matMenu" xPosition="before" yPosition="below" class="customize">
      <button mat-menu-item>Labóratorio 01</button>
      <button mat-menu-item>Laboratorio 02</button>
      <button mat-menu-item>Laboratorio 03</button>
    </mat-menu>
  
    <button mat-button [matMenuTriggerFor]="validadeMenu" (click)="setActive('validade')"
            [ngClass]="{'active': activeButton === 'validade'}">
      <div class="valign-center">
        <span class="dropdown-text">
          <span>Validade</span>
        </span>
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </div>
    </button>
  
    <mat-menu #validadeMenu="matMenu" xPosition="before" yPosition="below" class="customize">
      <button mat-menu-item>2024</button>
      <button mat-menu-item>2025</button>
      <button mat-menu-item>2026</button>
    </mat-menu>
  
    <button mat-button [matMenuTriggerFor]="usuarioMenu" (click)="setActive('usuario')"
            [ngClass]="{'active': activeButton === 'usuario'}">
      <div class="valign-center">
        <span class="dropdown-text">
          <span>Usuário Principal</span>
        </span>
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </div>
    </button>
  
    <mat-menu #usuarioMenu="matMenu" xPosition="before" yPosition="below" class="customize">
      <button mat-menu-item>CT67CA</button>
      <button mat-menu-item>CT67CB</button>
      <button mat-menu-item>CT67CC</button>
    </mat-menu>
  </div>
  