<!-- FormGroup de cadastro de equipamento -->
<form [formGroup]="cadastroEquipamento">
    <div class="container-forms">

        <div class="icon-forms">
            <i class="fa-solid fa-gear"></i>
        </div>

        <h3 class="title-forms">{{'DADOS DO EQUIPAMENTO' | translate}}</h3>

        <div class="content-forms">
            <div class="content-cad-forms">
                <!-- Input: ID Equipamento -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'ID DO EQUIPAMENTO' | translate}}</label>
                    <input class="input-dados" type="text" style="text-transform: uppercase;"
                        placeholder="{{'NÚMERO LOCALIZADO NA ETIQUETA' | translate}}" formControlName="id_equipment">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_equipment'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_equipment'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER NO MÍN 08 CARACTERES' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_equipment'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER ATÉ 15 CARACTERES' | translate"></app-error-message>
                </div>
                <!-- Input: Nome do Equipamento -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'NOME DO EQUIPAMENTO' | translate}}</label>
                    <input class="input-dados" type="text" style="text-transform: capitalize;"
                        placeholder="Ex. Notebook 12" formControlName="name_equipment">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'name_equipment'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'name_equipment'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER NO MÍN 04 CARACTERES' | translate"></app-error-message>
                </div>
                <!-- Input: RFID -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">RFID</label>
                    <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*"
                        placeholder="{{'NUMERAÇÃO DA ETIQUETA RFID' | translate}}" formControlName="rfid">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'rfid'" [errorType]="'required'"
                        [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'rfid'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 16 NÚMEROS' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'rfid'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER APENAS 16 NÚMEROS' | translate"></app-error-message>
                </div>
                <!-- Input: Admin Rigths-->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">Admin Rigths</label>
                    <input class="input-dados" style="text-transform: uppercase;" type="text"
                        placeholder="Ex. RITMO0123456789" formControlName="admin_rights">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'admin_rights'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'admin_rights'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 13 CARACTERES' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'admin_rights'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER ATÉ 13 CARACTERES' | translate"></app-error-message>
                </div>
                <!-- Input: Usuário Principal-->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'ID DO USUÁRIO PRINCIPAL' | translate}}</label>
                    <input class="input-dados" type="text" style="text-transform: uppercase;" placeholder="Ex. AAA1CA"
                        formControlName="id_owner">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_owner'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_owner'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 06 CARACTERES' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'id_owner'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER ATÉ 06 CARACTERES' | translate"></app-error-message>
                </div>
                <!-- Input: Centro de Custos-->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'CENTRO DE CUSTOS' | translate}}</label>
                    <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Ex. 123456"
                        formControlName="costCenter_name">

                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'costCenter_name'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'costCenter_name'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 06 NÚMEROS' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'costCenter_name'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER ATÉ 06 NÚMEROS' | translate"></app-error-message>
                </div>
                <!-- Dropdown Static: Tipo do equipamento -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="equipamento">{{'TIPO DO EQUIPAMENTO' | translate}}</label>
                    <app-drp-static id='id-typeEquipament' table='typeEquipament' [options]="typeEquipamentOptions"
                        [control]="convertToFormControl(cadastroEquipamento.get('type'))">
                    </app-drp-static>
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'type'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                </div>
                <!-- Dropdown Static: Modelo do equipamento -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'MODELO' | translate}}</label>
                    <app-drp-static id='id-enumModelEquipment' [options]="enumModelEquipment"
                        [control]="convertToFormControl(cadastroEquipamento.get('model'))">
                    </app-drp-static>
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'model'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>

                </div>
                <!-- Input: Data de Substituição-->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'DATA DE SUBSTITUIÇÃO' | translate}}</label>
                    <input class="input-dados" type="text" style="text-transform: uppercase;" placeholder="Ex. 2024.Q1"
                        formControlName="validity">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'validity'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'validity'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 07 CARACTERES' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroEquipamento" [inputSelect]="'validity'"
                        [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER ATÉ 07 CARACTERES'| translate"></app-error-message>
                </div>
                <!-- Input: Observação-->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'OBSERVAÇÃO' | translate}}</label>
                    <input class="input-dados" type="text"
                        placeholder="{{ 'COMENTÁRIO SOBRE O EQUIPAMENTO' | translate }}" formControlName="observation">
                </div>
            </div>
        </div>
    </div>
</form>