<div class="input-cad-forms">
    <!-- Dropdown (select) que exibe as opções carregadas e permite selecionar uma -->
    <select class="input-dados" 
        [value]="selectedValue" 
        (change)="onSelect()" 
        [formControl]="control"
        [disabled]="disabled">
        
        <!-- Exibe cada opção disponível no dropdown -->
        <option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
        </option>
        
        <!-- Adiciona uma opção extra se a tabela for de ambientes ('environment') -->
        <ng-container *ngIf="table === 'environment'">
            <!-- Opção 'Laboratório não cadastrado' visível apenas em 'environment' -->
            <option class="notEnviroment" value="notEnviroment">
                {{'LABORATÓRIO NÃO CADASTRADO?' | translate}}
            </option>
        </ng-container>
    </select>
     <!-- Exibe o botão para cadastrar um ambiente se a opção 'notEnviroment' for selecionada -->
    <ng-container *ngIf="selectedValue === 'notEnviroment'">
        <button (click)="generalService.showLocationlog = true">
            {{'CLIQUE AQUI PARA CADASTRAR UM LABORATÓRIO' | translate}}
        </button>
    </ng-container>
</div>