// Elização do container 
.card-notification {
  width: 100%;
  height: 55px;
  position: relative;
  overflow: hidden; //Garante que o conteúdo não ultrapasse a altura 
  display: flex;
  align-items: center;
  
  &:hover{
    background-color: var(--background-selected);
    border-radius: 10px;
  }

  // Estilização geral do span com classe dinamica 
  .border-color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 10px;
  }

  .border-color-GREEN {
    @extend .border-color;
    background-color: var(--green);
  }

  .border-color-YELLOW {
    @extend .border-color;
    background-color: var(--yellow);
  }

  .border-color-RED {
    @extend .border-color;
    background-color: var(--red);
  }

  // Estilização do container de conteudo do card
  .content-card {
    padding: 0 15px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      color: #4B4545;
    }

    span {
      margin: 0;
      padding: 0;
      padding-right: 10px;
      font-size: 14px;
      color: var(--pale-brown);
    }

    .subtitle {
      padding-top: 5px;
      font-weight: 400;
      text-align: left;
    }

    .dateTime {
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      /* Centraliza verticalmente */
    }
  }
}