<div class="card-notification">
  <!-- Classe dinamica para mudar a cor de acordo com o status retornado do warning -->
  <span [ngClass]="'border-color-' + warning"></span>
  <div class="content-card">
    <!-- Passagem dos dados via propse -->
    <h3>{{formatTitle(warning, equipmentName, rfid, action, environmentName)}}</h3>
    <span class="subtitle">{{formatSubtitle(warning, action, environmentName)}}</span>
    <span class="dateTime">
      {{ getDisplayDate(dateTime) }}
    </span>
  </div>
</div>