<app-header></app-header>

<div class="container_inventario">
    <div class="header_container">
        <h2>Equipamentos Registrados</h2>
        <div class="filtro">
            <button (click)="onExport()">
                <i class="fa-solid fa-download filter"></i> Exportar
            </button>
            <button (click)="toggleFiltro()">
                <i class="fa-solid fa-filter filter"></i>Filtros
            </button>
        </div>
    </div>

    <!-- Filtros aparecem aqui -->
    <app-filters (fiapp-filtersAplicados)="aplicarFiltro($event)" [showFiltro]="showFiltro"></app-filters>

    <table>
        <thead>
            <tr>
                <th>Identificação</th>
                <th>Usuário</th>
                <th>Laboratório</th>
                <th>Posto</th>
                <th>Validade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!--Preparação do html para receber os dados da api-->
            <tr *ngFor="let item of currentPageItems; let i = index">
                <td>{{item.id_equipment}}</td>
                <td>{{ item.owner.id_owner}}</td>
                <td>{{ item.location.environment.environment_name }}</td>
                <td>{{ item.location.post.post }}</td>
                <td>{{ item.validity }}</td>
                <td>
                    <div class="dropdown">
                        <button class="dots-button" (click)="toggleOptions(i)">⋯</button>
                        <div class="dropdown-content" *ngIf="showOptionsIndex === i">
                            <button (click)="viewItem(item); closeOptions()">
                                <i class="fa-solid fa-eye iconEye"></i>Visualizar
                            </button>
                            <button (click)="deleteItem(item); closeOptions()">
                                <i class="fa-solid fa-trash iconTrash"></i>Excluir
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--Aplicação do sistema de paginção na tela-->
<div class="pagination">
    <button class="icon-button" (click)="prevPage()" [disabled]="currentPage === 0">
        <mat-icon>arrow_left</mat-icon>
    </button>
    <span *ngFor="let page of pageNumbers">
        <button (click)="currentPage = page - 1; loadItems()" [class.active]="currentPage === page - 1">
            {{ page }}
        </button>
    </span>
    <button class="icon-button" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
        <mat-icon>arrow_right</mat-icon>
    </button>
</div>

<!--Chamada dos metodos para excluir cadastro-->
<app-delete-popup *ngIf="generalService.showDialog" [itemToDelete]="itemToDelete"
    [onConfirm]="confirmDelete.bind(this)"></app-delete-popup>

<app-view-edit-popup *ngIf="generalService.showFormlog" [equipmentId]="selectedEquipment"></app-view-edit-popup>

<app-no-results-popup *ngIf="generalService.showFilterlog"></app-no-results-popup>

<app-footer></app-footer>