<div class="buttons-warning">
    <!-- Botão para indicar que o item não está cadastrado -->
    <button class="button-red" (click)="selectedRedWarning()">
        <mat-icon class="status-red">lens</mat-icon>
        Não Cadastrado
    </button>

    <!-- Botão para indicar que o item é externo -->
    <button class="button-yellow" (click)="selectedYellowWarning()">
        <mat-icon class="status-yellow">lens</mat-icon>
        Externo
    </button>

    <!-- Botão para indicar que o item é interno -->
    <button class="button-green" (click)="selectedGreenWarning()">
        <mat-icon class="status-green">lens</mat-icon>
        Interno
    </button>
</div>