<div class="buttons-warning">
    <button class="button-red" (click)="selectedRedWarning()">
        <mat-icon class="status-red">lens</mat-icon>
        {{ 'NAO_CADASTRADO' | translate }}
    </button>

    <button class="button-yellow" (click)="selectedYellowWarning()">
        <mat-icon class="status-yellow">lens</mat-icon>
        {{ 'EXTERNO' | translate }}
    </button>

    <button class="button-green" (click)="selectedGreenWarning()">
        <mat-icon class="status-green">lens</mat-icon>
        {{ 'INTERNO' | translate }}
    </button>
</div>