<app-header></app-header>

<div class="container_inventario">
    <div class="header_container">
        <h2>Equipamentos Registrados</h2>
    <div class="filtro">
        <button>
            <i class="fa-solid fa-download filter"></i>Exportar
        </button>
        <button>
            <i class="fa-solid fa-filter filter"></i>Filtros
        </button>
    </div>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Identificação</th>
                    <th>Usuário</th>
                    <th>Laboratório</th>
                    <th>Posto</th>
                    <th>Validade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of equipment">
                    <td>{{item.id_equipment}}</td>
                    <td>{{ item.owner.owner_name }}</td>
                    <td>{{ item.location.environment.environment_name }}</td>
                    <td>{{ item.location.post.post }}</td>
                    <td>{{ item.validity }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dots-button" (click)="item.showOption = !item.showOption">⋯</button>
                            <div class="dropdown-content" *ngIf="item.showOption">
                                <button (click)="generalService.showLocationlog = true">
                                    <i class="fa-solid fa-eye iconEye"></i>Visualizar
                                </button>
                                    <button (click)="generalService.showDialog = true">
                                        <i class="fa-solid fa-trash iconTrash"></i>Excluir
                                    </button>  
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<!-- 
<app-excluir-popup *ngIf="generalService.showDialog"></app-excluir-popup>
<app-vizualizacao-form *ngIf="generalService.showFormlog"></app-vizualizacao-form>

<app-location-popup *ngIf="generalService.showLocationlog"></app-location-popup> testes -->

