<app-header></app-header>

<div class="container_inventario">
    <div class="header_container">
        <h2>Equipamentos Registrados</h2>
        <div class="filtro">
            <button>
                <i class="fa-solid fa-download filter"></i>Exportar
            </button>
            <button (click)="toggleFiltro()">
                <i class="fa-solid fa-filter filter"></i>Filtros
            </button>
        </div>
    </div>

    <!-- Filtros aparecem aqui -->
    <app-filtros *ngIf="showFilro"></app-filtros>

    <table>
        <thead>
            <tr>
                <th>Identificação</th>
                <th>Usuário</th>
                <th>Laboratório</th>
                <th>Posto</th>
                <th>Validade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itens">
                <td>{{item.identificacao}}</td>
                <td>{{ item.usuario }}</td>
                <td>{{ item.laboratorio }}</td>
                <td>{{ item.posto }}</td>
                <td>{{ item.validade }}</td>
                <td>
                    <div class="dropdown">
                        <button class="dots-button" (click)="item.showOptions = !item.showOptions">⋯</button>
                        <div class="dropdown-content" *ngIf="item.showOptions">
                            <button (click)="viewItem(item); item.showOptions = false">
                                <i class="fa-solid fa-eye iconEye"></i>Visualizar
                            </button>
                            <button (click)="deleteItem(item); item.showOptions = false">
                                <i class="fa-solid fa-trash iconTrash"></i>Excluir
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-excluir-popup *ngIf="generalService.showDialog"></app-excluir-popup>
<app-vizualizacao-form *ngIf="generalService.showFormlog"></app-vizualizacao-form> 
