

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2px;
}

header .container {
    background: linear-gradient(to left, #011D94, #6338AF, #DA203C);
    padding: 9px;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: inherit;
    align-items: center;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 30px;
}

.logo-container .heading {
    display: flex;
    align-items: center;
}

.logo-container .heading img {
    height: 20px;
    margin-right: 5px;
}

.logo-container .heading-border {
    flex-grow: 1;
    height: 2px;
}

// começo da estilização da barra de pesquisa

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    position: relative;
}

.search-container form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
    transition: box-shadow 0.3s ease;
    padding-right: 45px; 
    background-color: #F2F4F5;
    border: none;
    color: #837777;
}

.search-container input[type="text"]:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container button {
    position: absolute;
    right: 15px; 
    top: 2%;
    transform: translateY(-50%);
    padding: 8px;
    font-size: 18px;
    color: #011D94;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button:hover {
    color: #6338AF;
}

.search-content {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0; 
    background: #F2F4F5; 
    border-radius: 10px;
    z-index: 1; 
    max-height: 200px; 
    overflow-y: auto; 
    margin-top: 15px;
    border: none;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.search-content li {
    padding: 10px 15px; 
    cursor: pointer; 
}

.search-content li:hover {
    background: #ECE8F4; /* Destaque ao passar o mouse */
    color: #6338AF;
}

.noResult p{
    color: #4B4545;
    font-style: italic;
    margin-top: 10px;
    width: 200px;
    position: relative;
    left: 20px;
}

.noResult {
    border-radius: 10px;
}



strong{
    width: 300px;
}
  

// fim da estilização da barra de pesquisa


//inicio da estilizaçao da notificação
.notification-container {
    position: absolute; /* Faz a lista aparecer em relação ao contêiner pai */
    top: 100%; /* Coloca a lista logo abaixo do input */
    left: 0; /* Alinha à esquerda do input */
    right: 0; /* Faz a lista ter a mesma largura que o input */
    background: #F2F4F5; /* Fundo branco para a lista */
    border-radius: 10px;
    z-index: 1; /* Garante que a lista fique acima de outros elementos */
    max-height: 375px; /* Limita a altura da lista */
    margin-top: 15px;
    border: none;  
    overflow-y: scroll;    
    overflow-x: hidden;
    scrollbar-color: #D9D9D9 ;
    scrollbar-width: thin;
    cursor: pointer;
}

.notification-container li:hover .notification-text,
.notification-container li:hover span {
    color: #6338AF;
}
.notification-container li:hover .notification {
    background-color: #ECE8F4; /* Fundo ao passar o mouse */
    // border-radius: 5px;
}

//estiliza a barra de scroll como um todo
.notification-container::-webkit-scrollbar{
    background-color:  #F2F4F5;
    width: 7px;
    height: 60px;
    
}

//estiliza a barra de rolagem da scroll-bar
.notification-container::-webkit-scrollbar-thumb{
    background-color: #D9D9D9;
    border-radius: 15px;
}


h3 {
    margin: 0 0 10px; /* Margem inferior */
}

ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento */
    margin: 0; /* Remove margem */
}

.notification {
    border-left: 4px solid #011D94; /* Ajuste a espessura conforme necessário */
    padding-left: 10px; /* Espaço entre o texto e a linha */
    margin-left: 12px;
    transition: border-color 0.1s ease;
}

.notification:hover{
    border-left-color: #6338AF; 
}


.notification-header {
    font-size: 14px;
    margin-top: 10px;
}

.notification-text {
    margin: 0px;
    font-size: 15px;
    color: #4B4545;
    font-weight: 400;

}

span{
    font-size: 12px;
    margin-bottom: 15px;
    color: var(--pale-brown);
    font-weight: 400;

}



// fim da estilização da notificação

.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 15px;
    margin: 5px;
}

.navbar h3 {
    margin: 0 45px;
    cursor: pointer;
    font-weight: normal;
    position: relative;
}

.navbar h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #6338AF;
    margin-top: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.navbar h3:hover::after,
.navbar h3.selected::after {
    opacity: 1;
}

/* Ajuste dos ícones */
.notification-icon,
.circle-user {
    color: #011D94;
    font-size: 26px;
    margin-left: 15px;
    cursor: pointer;
    width: auto;
    height: auto;
    display: inline-block;
    flex-shrink: 0;
}

.notification-icon:hover,
.circle-user:hover {
    color: #6338AF;
}

button {
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
  }

  .search-content li{
    flex: 1;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
    transition: box-shadow 0.3s ease;
    padding-right: 45px; 
    background-color: #F2F4F5;
    border: none;
    color: #837777;
    
  }

 
/* Media query para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .logo-container {
        flex-direction: row; /* Mantém os itens na mesma linha */
        justify-content: space-between; /* Garante o espaço entre logo e pesquisa */
        align-items: center;
        padding: 0 15px;
    }

    .search-container {
        align-items: center; /* Mantém os itens alinhados */
    }

    .search-container input[type="text"] {
        font-size: 16px; /* Tamanho maior para melhor legibilidade */
        padding: 12px; /* Ajuste no preenchimento */
    }

    .navbar {
        justify-content: flex-end; /* Continua alinhado à direita */
        padding: 10px; /* Ajusta o espaçamento em telas menores */
    }

    .notification-icon,
    .circle-user {
        font-size: 24px; /* Leve redução do tamanho */
        margin-left: 10px; /* Menos espaço entre os ícones */
    }
}

/* Media query para dispositivos com largura máxima de 480px */
@media (max-width: 480px) {
    .logo-container {
        flex-direction: column; /* Itens empilhados verticalmente */
        align-items: flex-start; /* Alinhamento à esquerda */
        padding: 0 10px; /* Menos preenchimento */
    }

    .search-container {
        padding: 5px; /* Reduz ainda mais o espaçamento */
    }

    .search-container input[type="text"] {
        font-size: 14px; /* Redução adicional para telas muito pequenas */
        padding: 10px; /* Ajuste no preenchimento */
    }

    .notification-icon,
    .circle-user {
        font-size: 22px; /* Redução adicional para telas muito pequenas */
        margin-left: 8px; /* Menos espaço entre os ícones */
    }
}