<div class="conteiner" >
    <mat-icon class="location"> location_on</mat-icon>
    <mat-icon class="fechar"(click)="generalService.showLocationlog=false">close</mat-icon>
    <div class="cabechalho"> Localização</div>

    <form [formGroup]="cadastroNovoLocalizacao">
    <div class="cad-forms">
        <!-- Dropdoq dynamic: Bulding -->
        <div class="input-cad-forms">
            <label class="label-dados" for="">Prédio</label>
            <app-dropdow-dynamic table="building" 
                [control]="  cadastroNovoLocalizacao.controls.id_building">
            </app-dropdow-dynamic>
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_building'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>

        <div class="input-cad-forms">
            <label class="label-dados" for="">Setor</label>
            <input class="input-dados" type="text" placeholder="EX.ETS" formControlName="'area'">
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_building'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>

        <!-- Dropdoq dynamic: Enviroment -->
        <div class="input-cad-forms">
            <label class="label-dados" for="">Laboratório</label>
            <app-dropdow-dynamic table="enviroment"
                [control]="cadastroNovoLocalizacao.controls.id_enviroment">
            </app-dropdow-dynamic>
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_enviroment'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>

        <div class="input-cad-forms">
            <label class="label-dados" for="">Posto</label>
            <input class="input-dados" type="text" placeholder="EX. 01" formControlName="posto">
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'posto'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'posto'"
            [errorType]="'minlength'" [errorMessage]="'O campo deve conter pelo menos 2 números. EX: 01'"></app-error-message>
        </div>

    </div><!--Fim do cad-forms -->
    </form>
</div>

