<div class="conteiner">
    <mat-icon class="location">location_on</mat-icon>
    <mat-icon class="fechar" (click)="generalService.showLocationlog = false">close</mat-icon>
    <div class="cabechalho"> 
        Novo Laboratório 
    </div>

    <form [formGroup]="cadastroNovoLocalizacao" (ngSubmit)="onSubmit()">
        <div class="cad-forms">
            <div class="input-cad-forms">
                <label class="label-dados" for="">Prédio</label>
                <app-dropdow-dynamic 
                    table="building" 
                    [options]="buildingOptions" 
                    [control]="convertToFormControl(cadastroNovoLocalizacao.get('id_building'))">
                </app-dropdow-dynamic>
                <app-error-message 
                    [formGroup]="cadastroNovoLocalizacao" 
                    [inputSelect]="'id_building'" 
                    [errorType]="'required'" 
                    [errorMessage]="'Campo obrigatório'">
                </app-error-message>
            </div>

            <div class="input-cad-forms">
                <label class="label-dados" for="">Setor</label>
                <app-dropdow-dynamic 
                    table="area" 
                    [options]="areaOptions" 
                    [control]="convertToFormControl(cadastroNovoLocalizacao.get('id_area'))">
                </app-dropdow-dynamic>
                <app-error-message 
                    [formGroup]="cadastroNovoLocalizacao" 
                    [inputSelect]="'name_area'" 
                    [errorType]="'required'" 
                    [errorMessage]="'Campo obrigatório'">
                </app-error-message>
            </div>

            <div class="input-cad-forms">
                <label class="label-dados" for="">Laboratório</label>
                <input 
                    class="input-dados" 
                    type="text" 
                    placeholder="EX. 01" 
                    formControlName="environment_name">
                <app-error-message 
                    [formGroup]="cadastroNovoLocalizacao" 
                    [inputSelect]="'environment_name'" 
                    [errorType]="'required'" 
                    [errorMessage]="'Campo obrigatório'">
                </app-error-message>
            </div>

            <div class="input-cad-forms">
                <label class="label-dados" for="">Raspberry</label>
                <input 
                    class="input-dados" 
                    type="text" 
                    placeholder="EX. 01" 
                    formControlName="id_raspberry">
                <app-error-message 
                    [formGroup]="cadastroNovoLocalizacao" 
                    [inputSelect]="'id_raspberry'" 
                    [errorType]="'required'" 
                    [errorMessage]="'Campo obrigatório'">
                </app-error-message>
                <app-error-message 
                    [formGroup]="cadastroNovoLocalizacao" 
                    [inputSelect]="'id_raspberry'" 
                    [errorType]="'minlength'" 
                    [errorMessage]="'O campo deve conter pelo menos 2 números. EX: 01'">
                </app-error-message>
            </div>

            <div class="actions">
                <button class="cancel" (click)="generalService.showLocationlog = false">Cancelar</button>
                <button class="cadastro" type="submit" (click)="onSubmit()">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
