<div class="conteiner" >
    <mat-icon class="location"> location_on</mat-icon>
    <mat-icon class="fechar"(click)="generalService.showLocationlog=false">close</mat-icon>
    <div class="cabechalho"> Localização</div>

    <form [formGroup]="cadastroNovoLocalizacao">
    <div class="cad-forms">
        <!-- Dropdoq dynamic: Bulding -->
        <div class="input-cad-forms">
            <label class="label-dados" for="">Prédio</label>
            <app-dropdow-dynamic table="building" 
                [control]="  cadastroNovoLocalizacao.controls.id_building">
            </app-dropdow-dynamic>
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_building'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>

        <div class="input-cad-forms">
            <label class="label-dados" for="">Setor</label>
            <input class="input-dados" type="text" placeholder="EX.ETS" formControlName="'area'">
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_building'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>

       
        <div class="input-cad-local">
            <label class="label-local" for="">Laboratório</label>
            <input class="input-local" type="text" placeholder="EX.Laboratório 05" formControlName="'id_enviroment">
            <!-- Mensagens de erro -->
            <app-error-message [formGroup]="cadastroNovoLocalizacao" [inputSelect]="'id_enviroment'"
            [errorType]="'required'" [errorMessage]="'Campo obrigatório'"></app-error-message>
        </div>


        <div class="actions">
            <button class="cancel" (click)="generalService.showLocationlog=false">Cancelar</button>
            <button class="cadastro">Cadastrar</button>
        </div>
    

    </div><!--Fim do cad-forms -->
    </form>
</div>

