.profile-card {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #F2F4F5;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 100;

  button {
    display: block;
    margin: 5px 0;
    background-color: #F2F4F5;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;

  }

  button:hover {
    background-color: #ECE8F4;

  }

  .sair-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    border-radius: 16px;

  }

  .sair-container:hover {
    background-color: #ECE8F4;
  }
}

.valign-center {
  display: inline-flex;
  align-items: center;
}

.language-icon,
.accessibility-icon,
.sair-icon {
  margin-right: 8px;
}

.arrow-icon {
  margin-right: 8px;
  transform: rotate(-90deg);
  /* Faz a seta apontar para a direita */
}


.mat-mdc-menu-item:hover {
  background-color: #ECE8F4 !important;
  
  color: var(--black);
  border-radius: 16px;

}



.mat-menu-item:hover {
  background-color: #ECE8F4 !important;
  color: #000 !important;
  border-radius: 16px;
}


.mat-mdc-menu-panel {
  border-radius: 16px !important;
  
}


.dropdown-text {
  display: flex;
  align-items: center;
  border-radius: 16px;
  font-size: 14px;
}

::ng-deep .customize {
  background-color: #F2F4F5 !important;
  border: 1px solid #dee1e2 !important;
  box-shadow: none !important;
  border-radius: 15px !important;
}