<div class="profile-card">
  <p>{{ 'OLÁ' | translate }}</p>

  <button mat-button [matMenuTriggerFor]="idioma">
    <div class="valign-center">
      <span class="dropdown-text">
        <mat-icon class="language-icon">language</mat-icon>
        {{'TRADUZIR' | translate}}
      </span>
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </div>
  </button>

  <!-- Menu abre para a esquerda -->
  <mat-menu #idioma="matMenu" xPosition="before" yPosition="below" class="customize">
    <button mat-menu-item (click)="changeLanguage('en')">{{ 'IDIOMA_EN' | translate }}</button>
    <button mat-menu-item (click)="changeLanguage('pt')">{{ 'IDIOMA_PT' | translate }}</button>
  </mat-menu>

  <div class="valign-center sair-container">
    <mat-icon class="sair-icon">exit_to_app</mat-icon>
    <span>{{'SAIR' | translate}}</span>
  </div>
</div>
