
* {
  font-family: 'Inter', sans-serif;
}

.main-cadastro {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  flex-direction: column;

  .container-forms-equipamento,
  .container-forms-localizacao,
  .container-forms-responsavel {
    width: 800px;
    height: auto;


    background-color: #F2F4F5;
    border-radius: 15px;

    padding-bottom: 60px;
    /* Para dar espaço antes do botão */



  }

  .icon-cad-forms {
    display: flex;
    align-items: center;
    padding-left: 35px;
  }

  .settings {
    width: 45px;
    height: 45px;
    margin-top: -18px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #011D94;
    border-radius: 50%;
    color: white;
    font-size: 30px;
  }

  .title-cad-forms {
    font-family: 'Inter', sans-serif;
    font-weight: 'Medium';
    font-size: 24px;

    padding-left: 35px;
    margin-top: 18px;

    color: #011D94;
  }

  .content-cad-forms {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter', sans-serif;
    font-weight: 300;


  }

  .cad-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dois inputs lado a lado */
    gap: 40px;
    /* Espaçamento entre os inputs */

  }

  .label-dados {
    font-size: 18px;
    padding-left: 20px;

    color: #4B4545;
  }

  .input-cad-forms {
    display: flex;
    flex-direction: column;
    width: 330px;


  }

  .input-dados {
    width: 100%;
    height: 47px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 20px;

    font-size: 18px;
    font-family: 'Inter', sans-serif;


    &::placeholder {
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      color: #969090;
    }

  }

  .input-cad-obs {
    grid-column: span 2;
    /* Faz com que ocupe duas colunas inteiras */
    width: 100%;
    /* Ocupa toda a largura disponível */


  }

  .input-obs {
    width: 100%;
    /* Faz o input de observação ocupar toda a largura */
    height: 47px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    padding-bottom: 20px;
    padding: 20px;

    font-size: 18px;
    font-family: 'Inter', sans-serif;


    &::placeholder {
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      color: #969090;
    }
  }

  .btn-content {
    width: 800px;
    /* Mesma largura do formulário */
    display: flex;
    justify-content: flex-end;
    /* Alinha o botão à direita */
    margin-top: 20px;
    /* Espaçamento entre o formulário e o botão */

  }

  .btn-next {
    margin-top: 18px;
    background-color: #011D94;
    color: #FFFF;
    width: 125px;
    height: 45px;

    border-radius: 20px;
    border: none;

    font-size: 18px;
    font-weight: bold;
  }

  .step-2 {
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo em uma coluna vertical */
    align-items: center;
    /* Centraliza horizontalmente o conteúdo */
    justify-content: center;
    /* Centraliza verticalmente o conteúdo */
    width: 60px;
    /* Ajuste a largura para criar a linha vertical */
    height: 10vh;
    /* Faz com que ocupe a altura total da viewport */
    border-right: 4px solid #011D94;
    /* Borda vertical à direita */
    box-sizing: border-box;
    /* Inclui padding e border no cálculo da largura e altura */
    padding-top: 20px;
    /* Espaçamento no topo */
    padding-bottom: 20px;
    /* Espaçamento na parte inferior */
    /* Ajuste conforme necessário */
  }

  .step-3{
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo em uma coluna vertical */
    align-items: center;
    /* Centraliza horizontalmente o conteúdo */
    justify-content: center;
    /* Centraliza verticalmente o conteúdo */
    width: 60px;
    /* Ajuste a largura para criar a linha vertical */
    height: 10vh;
    /* Faz com que ocupe a altura total da viewport */
    border-right: 4px solid #011D94;
    /* Borda vertical à direita */
    box-sizing: border-box;
    /* Inclui padding e border no cálculo da largura e altura */
    padding-top: 20px;
    /* Espaçamento no topo */
    padding-bottom: 20px;
    /* Espaçamento na parte inferior */
    /* Ajuste conforme necessário */
  
  }

  .addResponsavel {
    background-color: #011D94;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */

}



}