<div class="calendar">
  <header>
    <h3>{{ currentMonth.format('MMMM YYYY') }}</h3>
    <!-- Navegação pelos meses do calendario -->
    <nav class="navigation">
      <button class="nav-btn-changeMonth" (click)="changeMonth(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button class="nav-btn-changeMonth" (click)="changeMonth(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </nav>
  </header>

  <table>
    <thead>
      <tr>
        <!-- Nomes dos dias da semana -->
        <th *ngFor="let day of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']">{{ day }}</th>
      </tr>
    </thead>

    <tbody>
      <!-- Lógica para carregar os dias e de seleção do dia atual -->
      <tr *ngFor="let week of days | slice:0:7; let i = index">
        <td *ngFor="let day of days.slice(i * 7, (i + 1) * 7)" [class.today]="isToday(day)"
          [class.selected]="isSelected(day)" (click)="selectDate(day)">{{ day.date() }}
        </td>
      </tr>
    </tbody>
  </table>
</div>