 <!-- <section class="product" *ngIf="equipamentos.length > 0">
    <div class="container-fluid">
      <div class="slider-wrapper">
        <div class="slider-main">
          <div class="item" *ngFor="let equipment of equipamentos">
            <div class="text">
              <h2>{{ equipment.name_equipment }}</h2>
              <img src="assets/images/svg/Lenovo - TinkPad 4.svg" alt="Image of {{ equipment.name_equipment }}">
              <p><strong>ID Equipment:</strong> <span>{{ equipment.id_equipment }}</span></p>
              <p><strong>RFID:</strong> <span>{{ equipment.rfid }}</span></p>
              <p><strong>Model:</strong> <span>{{ equipment.model }}</span></p>
              <p><strong>Validity:</strong> <span>{{ equipment.validity }}</span></p>
              <p><strong>Admin Rights:</strong> <span>{{ equipment.admin_rights }}</span></p>
            </div>
          </div>
        </div>
        <div class="button-area">
          <mat-icon type="button" class="prev" appPrev>keyboard_arrow_left</mat-icon>
          <mat-icon type="button" class="next" appNext>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </section>    
   -->

 <section class="product">
    <div class="container-fluid">
      <div class="slider-wrapper">
        <div class="slider-main">
          <div class="item">
            <div class="text">
                <h2>Notebook 12</h2>
                <img src="assets/images/svg/Lenovo - TinkPad 4.svg" alt="">
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
            </div>
          </div>
          <div class="item">
            <div class="text">
                <h2>Notebook 12</h2>
                <img src="assets/images/svg/Lenovo - TinkPad 4.svg" alt="">
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
             
              </div>
          </div>
          <div class="item">
            <div class="text">
                <h2>Notebook 12</h2>
                <img src="assets/images/svg/Lenovo - TinkPad 4.svg" alt="">
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
                <p> <strong>ID Notebook:</strong> <span>JVL-C-0009X</span></p>
              </div>
          </div>
        </div>
        <div class="button-area">
          <mat-icon type="button" class="prev" appPrev>keyboard_arrow_left</mat-icon>
          <mat-icon type="button" class="next" appNext>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </section>     