<div class="popup-background">
  <div class="conteiner">
    <mat-icon class="fechar" (click)="generalService.showFormlog=false">close</mat-icon>

    <div class="icon-text">
      <i class="fa-solid fa-gear"></i>
      <h4>Dados do equipamento</h4>
    </div>

    <form [formGroup]="vizualizarCadastro" class="formulario">
      <div class="form-row">
        <div class="form-column">
          <h4>ID do equipamento</h4>
          <input matInput formControlName="idEquipamento" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
        <div class="form-column">
          <h4>Nome do Equipamento</h4>
          <input matInput formControlName="rfid" [readonly]="!isEditing" style="text-transform: capitalize;">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>RFID</h4>
          <input matInput formControlName="tipoEquipamento" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
        <div class="form-column">
          <h4>Admin Rights</h4>
          <input matInput formControlName="modelo" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>ID do usuário principal</h4>
          <input matInput formControlName="usuarioPrincipal" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
        <div class="form-column">
          <h4>Centro de custo</h4>
          <input matInput formControlName="idUsuarioPrincipal" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Tipo de equipamento</h4>
          <input matInput formControlName="dataSubstituicao" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
        <div class="form-column">
          <h4>Modelo</h4>
          <input matInput formControlName="adminRights" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Data de substituição</h4>
          <input matInput formControlName="centrodecusto" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
        <div class="form-column">
          <h4>Observação</h4>
          <input matInput formControlName="observacao" [readonly]="!isEditing" style="text-transform: capitalize;">
        </div>
      </div>

      <div class="icon-text">
        <i class="fa-solid fa-location-dot"></i>
        <h4>Localização</h4>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Prédio</h4>
          <input matInput formControlName="predio" [readonly]="!isEditing">
        </div>
        <div class="form-column">
          <h4>Setor</h4>
          <input matInput formControlName="setor" [readonly]="!isEditing">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Laboratório</h4>
          <input matInput formControlName="laboratorio" [readonly]="!isEditing">
        </div>
        <div class="form-column">
          <h4>Posto</h4>
          <input matInput formControlName="posto" [readonly]="!isEditing" style="text-transform: capitalize;">
        </div>
      </div>

      <div class="icon-text">
        <i class="fa-solid fa-user"></i>
        <h4>Dados do Responsável</h4>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Nome do responsável</h4>
          <input matInput formControlName="nomedoresponsavel" [readonly]="!isEditing" style="text-transform: capitalize;">
        </div>
        <div class="form-column">
          <h4>EDV</h4>
          <input matInput formControlName="edv" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <h4>Curso</h4>
          <input matInput formControlName="curso" [readonly]="!isEditing">
        </div>
        <div class="form-column">
          <h4>Turma</h4>
          <input matInput formControlName="turma" [readonly]="!isEditing" style="text-transform: uppercase;">
        </div>
      </div>

      <div class="actions">
        <button type="button" class="botao-voltar" (click)="isEditing ? cancel() : generalService.showFormlog=false">
          {{ isEditing ? 'Cancelar' : 'Voltar' }}
        </button>
        <button type="button" class="botao-editar" (click)="isEditing ? save() : toggleEdit()">
          {{ isEditing ? 'Salvar' : 'Editar' }}
        </button>
      </div>
    </form>
  </div>
</div>
