.popup-background {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow: auto;
}

.conteiner {
  width: 800px;
  height: auto;
  overflow-y: auto;
  box-shadow: 5px 5px 4px rgba(19, 19, 19, 0.2);
  border-radius: 15px;
  background-color: #F2F4F5;
 
  margin-top: 20px;

  .fechar {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      height: 35px;
      padding: 5px 25px;
      border-radius: 20px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      margin: 5px;

      &.botao-voltar {
        background-color: #fff;
        border: 2px solid #011D94;
        color: #4B4545;
      }

      &.botao-editar {
        background-color: #011D94;
        color: #fff;
      }
    }
  }

  .container-forms {
    width: 800px;
    height: auto;
    background-color: var(--background-gray);
    border-radius: 15px;
    padding-bottom: 60px;
    /* Para dar espaço antes do botão */
    position: relative;

    .icon-forms {
      display: flex;
      align-items: center;
      padding-left: 35px;

      .fa-solid {
        width: 45px;
        height: 45px;
        margin-right: 15px; // Espaço entre o ícone e o título
        margin-top: -20px; // Ajuste este valor para mover o ícone para cima
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue);
        border-radius: 50%;
        color: var(--white);

        &.fa-gear {
          font-size: 30px;
        }

        &.fa-location-dot {
          font-size: 25px;
        }

        &.fa-user {
          font-size: 23px;
        }

        
      }

      .title-forms {
        font-family: 'Inter', sans-serif;
        font-weight: 'Medium';
        font-size: 24px;
        color: var(--blue);
      }
    }

    .content-forms {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Inter', sans-serif;
      font-weight: 300;

      .content-cad-forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        .input-cad-forms {
          display: flex;
          flex-direction: column;
          width: 330px;

          .input-dados {
            width: 100%;
            height: 47px;
            border-radius: 20px;
            border: none;
            outline: none;
            margin-top: 10px;
            padding: 20px;
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            margin-bottom: 5px;
            color: var(--muted-brown);

            &::placeholder {
              font-size: 18px;
              font-family: 'Inter', sans-serif;
              font-weight: 100;
              color: var(--muted-brown);
            }

            &:disabled{
              background-color: var(--white);
              cursor:not-allowed;
            }

          }

          app-error-message {
            padding-left: 20px;
          }

          app-location-popup {
            border: none;
          }
        }

        .label-dados {
          font-size: 18px;
          padding-left: 20px;
          font-weight: 400;
          color: var(--dark-brown-gray);
        }
      }
    }

    .addResponsavel{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 12px;
      position: absolute;
      top: 15px;
      right: 25px;
      
      .btn-addResponsavel{
        color: var(--black);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        justify-content: flex-end; /* Alinha o botão à direita */
        border: none;
        background-color: transparent;
  
        position: relative; /* Necessário para o pseudo-elemento */
  
        &::after {
          content: ''; /* Inicialmente vazio */
          visibility: hidden; // Inicialmente escondido
          background-color: #1E1E1E; 
          color:var(--white); 
          text-align: center;
          border-radius: 5px;
          padding: 5px;
          position: absolute;
          bottom: -40px; // Posiciona a mensagem abaixo do botão
          left: 50%; // Centraliza em relação ao botão
          transform: translateX(-50%);
          z-index: 1;
          transition: visibility 0s, opacity 0.2s linear; // Transição suave
          opacity: 0; // Oculto inicialmente
      }
  
      &:hover::after {
          content: 'Adicionar Responsável'; // Texto da mensagem
          visibility: visible; // Mostra a mensagem ao passar o mouse sobre o botão
          opacity: 1; // Torna visível
      }
      }
  
    }
  
    .removerResponsavel{
      @extend .addResponsavel;
      
      .btn-removeResponsavel {
        background-color: var(--blue);
        color: var(--black);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        justify-content: flex-end; /* Alinha o botão à direita */
        border: none;
        background-color: transparent;
  
        position: relative; /* Necessário para o pseudo-elemento */
  
        &::after {
          content: ''; 
          visibility: hidden; 
          background-color: #1E1E1E; 
          color:var(--white);
          text-align: center;
          border-radius: 5px;
          padding: 5px;
          position: absolute;
          bottom: -40px; 
          left: 50%; 
          transform: translateX(-50%);
          z-index: 1;
          transition: visibility 0s, opacity 0.2s linear; 
          opacity: 0; 
      }
  
      &:hover::after {
          content: 'Remover Responsável'; 
          visibility: visible; 
          opacity: 1; 
      }
      }
  
    }
  

  }
}