<div class="popup-background">
  <div class="conteiner">
    <mat-icon class="fechar" (click)="generalService.showFormlog=false">close</mat-icon>
    <form [formGroup]="vizualizarCadastro">
      <!-- Dados Equipamento -->
      <div class="container-forms">
        <div class="icon-forms">
          <i class="fa-solid fa-gear"></i>
          <h3 class="title-forms">{{'DADOS DO EQUIPAMENTO' | translate}}</h3>
        </div>
        <div class="content-forms">
          <div class="content-cad-forms">
            <!-- Input: Id Equipamento -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'ID DO EQUIPAMENTO' | translate}}</label>
              <input class="input-dados" type="text" placeholder="{{'NÚMERO LOCALIZADO NA ETIQUETA' | translate}}"
                formControlName="id_equipment">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'id_equipment'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'id_equipment'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER NO MÍN 08 CARACTERES' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'id_equipment'"
                [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER ATÉ 15 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Nome do Equipamento -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'NOME DO EQUIPAMENTO' | translate}}</label>
              <input class="input-dados" type="text" style="text-transform: capitalize;" placeholder="Ex. Notebook 12"
                formControlName="name_equipment" [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'nomeEquipamento'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'nomeEquipamento'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER NO MÍN 04 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Númeração do RFID -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'RFID' | translate}}</label>
              <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*"
                placeholder="{{'NUMERAÇÃO DA ETIQUETA RFID' | translate}}" formControlName="rfid"
                [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'rfid'" [errorType]="'required'"
                [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'rfid'" [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER 16 NÚMEROS' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'rfid'" [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER APENAS 16 NÚMEROS' | translate"></app-error-message>
            </div>
            <!-- Input: Admin Rights -->
            <div class="input-cad-forms">
              <label class="label-dados">Admin Rigths</label>
              <input class="input-dados" style="text-transform: uppercase;" type="text"
                placeholder="Ex. RITMO0123456789" formControlName="admin_rights" [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'adminRights'" [errorType]="'required'"
                [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'adminRights'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER 13 CARACTERES' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'adminRights'"
                [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER ATÉ 13 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Usuário principal -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'ID DO USUÁRIO PRINCIPAL' | translate}}</label>
              <input class="input-dados" type="text" style="text-transform: uppercase;" placeholder="Ex. AAA1CA"
                formControlName="id_owner" [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'idUsuarioPrincipal'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'idUsuarioPrincipal'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER 06 CARACTERES' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'idUsuarioPrincipal'"
                [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER ATÉ 06 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Centro de custos -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'CENTRO DE CUSTOS' | translate}}</label>
              <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Ex. 123456"
                formControlName="constcenter" [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'constcenter'" [errorType]="'required'"
                [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'constcenter'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER 06 NÚMEROS' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'constcenter'"
                [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER ATÉ 06 NÚMEROS' | translate"></app-error-message>
            </div>
            <!-- Input: Tipo de equipamento -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'TIPO DO EQUIPAMENTO' | translate}}</label>
              <app-dropdow-local id='id-typeEquipament' table='typeEquipament' [options]="typeEquipamentOptions"
                [control]="vizualizarCadastro.controls.type">
              </app-dropdow-local>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'tipoEquipamento'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
            </div>
            <!-- Input: Modelo do equipamento -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'MODELO' | translate}}</label>
              <app-dropdow-local id='id-enumModelEquipment' table='modelEquipment' [options]="enumModelEquipment"
                [control]="vizualizarCadastro.controls.model">
              </app-dropdow-local>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'modelo'" [errorType]="'required'"
                [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
            </div>
            <!-- Input: Data de Substituição -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'DATA DE SUBSTITUIÇÃO' | translate}}</label>
              <input class="input-dados" type="text" style="text-transform: uppercase;" placeholder="Ex. 2024.Q1"
                formControlName="validity" [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'dataSubstituicao'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'dataSubstituicao'"
                [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER 07 CARACTERES' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'dataSubstituicao'"
                [errorType]="'maxlength'"
                [errorMessage]="'O CAMPO DEVE CONTER ATÉ 07 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Observação -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'OBSERVAÇÃO' | translate}}</label>
              <input class="input-dados" type="text" placeholder="{{ 'COMENTÁRIO SOBRE O EQUIPAMENTO' | translate }}"
                formControlName="observation" [readonly]="!isEditing">
            </div>
          </div>
        </div>
      </div>
      <!-- Dados Localizaçãoo -->
      <div class="container-forms">
        <div class="icon-forms">
          <i class="fa-solid fa-location-dot"></i>
          <h3 class="title-forms">{{'LOCALIZAÇÃO' | translate}}</h3>
        </div>
        <div class="content-forms">
          <div class="content-cad-forms">
            <!-- Input: Localização -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'LOCALIZAÇÃO' | translate}}</label>
              <app-dropdow-dynamic [options]="environmentOptions"
                [control]="vizualizarCadastro.controls.id_environment">
              </app-dropdow-dynamic>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'id_environment'"
                [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
            </div>
            <!-- Input: Posto -->
            <div class="input-cad-forms">
              <label class="label-dados">{{'POSTO' | translate}}</label>
              <input class="input-dados" type="text" placeholder="Ex. D123" formControlName="id_post"
                [readonly]="!isEditing">
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'posto'" [errorType]="'required'"
                [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'posto'" [errorType]="'minlength'"
                [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 02 CARACTERES' | translate"></app-error-message>
            </div>
            <!-- Input: Building -->
            <div class="input-cad-forms">
              <label class="label-dados" for="">{{ 'PRÉDIO' | translate }}</label>
              <input class="input-dados" type="text" placeholder="Código do Prédio" formControlName="building_code">
            </div>
            <!-- Input: Area -->
            <div class="input-cad-forms">
              <label class="label-dados" for="">{{ 'SETOR' | translate }}</label>
              <input class="input-dados" type="text" placeholder="Área" formControlName="area_code">
            </div>
          </div>
        </div>
      </div>
      <!-- Dados do Responsável -->
      <div formArrayName="responsaveis">
        <div class="container-forms" *ngFor="let item of returnFormGroups; let i = index" [formGroupName]="i">
          <div *ngIf="isEditing == true">
            <ng-container *ngIf="returnFormGroups.length < 2">
              <div class="addResponsavel">
                <button type="button" class="btn-addResponsavel" (click)="addResponsavel()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </ng-container>
            <div class="removerResponsavel" *ngIf="returnFormGroups.length > 1">
              <button type="button" class="btn-removeResponsavel" (click)="removeResponsavel(i)">
                <i class="fa-solid fa-x"></i>
              </button>
            </div>
          </div>
          <div class="icon-forms">
            <i class="fa-solid fa-user"></i>
            <h3 class="title-forms">{{ 'DADOS DO RESPONSÁVEL' | translate }}</h3>
          </div>
          <div class="content-forms">
            <div class="content-cad-forms">
              <!-- Input: Nome Responsável -->
              <div class="input-cad-forms">
                <label class="label-dados">{{ 'NOME DO RESPONSÁVEL' | translate }}</label>
                <input class="input-dados" style="text-transform: capitalize;" type="text" placeholder="Nome completo"
                  [readonly]="!isEditing" formControlName="   " />
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'responsible'"
                  [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'responsible'"
                  [errorType]="'minlength'"
                  [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 03 CARACTERES' | translate"></app-error-message>
              </div>
              <!-- Input: EDV -->
              <div class="input-cad-forms">
                <label class="label-dados">{{ 'EDV' | translate }}</label>
                <input class="input-dados" type="text" placeholder="Número do EDV" formControlName="edv"
                  [readonly]="!isEditing" />
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'edv'" [errorType]="'required'"
                  [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'edv'" [errorType]="'minlength'"
                  [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 08 CARACTERES' | translate"></app-error-message>
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'edv'" [errorType]="'maxlength'"
                  [errorMessage]="'O CAMPO DEVE CONTER NO MÁXIMO 08 CARACTERES' | translate"></app-error-message>
              </div>
              <!-- Dropdown: Curso -->
              <div class="input-cad-forms">
                <label class="label-dados">{{ 'CURSO' | translate }}</label>
                <app-dropdow-local id="course" table="course" [options]="course"
                  [control]="convertToFormControl(item.get('enumCourse'))"></app-dropdow-local>
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'curso'" [errorType]="'required'"
                  [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
              </div>
              <!-- Input: Turma -->
              <div class="input-cad-forms">
                <label class="label-dados">{{ 'TURMA' | translate }}</label>
                <input class="input-dados" type="text" placeholder="Ex. 2024.1" formControlName="classes"
                  [readonly]="!isEditing" />
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'classes'" [errorType]="'required'"
                  [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                <app-error-message [formGroup]="vizualizarCadastro" [inputSelect]="'classes'" [errorType]="'minlength'"
                  [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 02 CARACTERES' | translate"></app-error-message>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Chamada das funções para troca de botão e funcionalidades-->
      <div class="actions">
        <button type="button" class="botao-voltar" (click)="isEditing ? cancel() : generalService.showFormlog=false">
          {{ isEditing ? 'Cancelar' : 'Voltar' }}
        </button>
        <button type="button" class="botao-editar" (click)="isEditing ? save() : toggleEdit()">
          {{ isEditing ? 'Salvar' : 'Editar' }}
        </button>
      </div>
    </form>
  </div>
</div>