<!--Componnete da tela inicial para troca de idioma , sendo diferente das outras telas-->
<div class="profile-card">

    <button mat-menu-item class="customize" (click)="changeLanguage('pt')">
        <div class="valign-center" >
            <span class="dropdown-text">
                {{ 'IDIOMA_PT' | translate }}
            </span>
        </div>
    </button>
    <button mat-menu-item class="customize" (click)="changeLanguage('en')">
        <div class="valign-center sair-container">
            <span>{{ 'IDIOMA_EN' | translate }}</span>
        </div>
    </button>

</div>