<div [formGroup]="cadastroResponsavel">
    <div class="step-3"></div>

    <div class="container-forms">
        <div class="icon-forms">
            <i class="fa-solid fa-user"></i>
        </div>

        <h3 class="title-forms">{{'DADOS DO RESPONSÁVEL'| translate}}</h3>


        <div class="content-forms">
            <div class="content-cad-forms">
                <div class="input-cad-forms">
                    <label class="label-dados">{{'NOME DO RESPONSÁVEL'| translate}}</label>
                    <input class="input-dados" style="text-transform: capitalize;" type="text"
                        placeholder="Nome completo" formControlName="responsible_name" />
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'responsible_name'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'responsible_name'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 03 CARACTERES'| translate"></app-error-message>
                </div>

                <div class="input-cad-forms">
                    <label class="label-dados">EDV</label>
                    <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*" formControlName="edv"
                        placeholder="EX.99999999" />
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'edv'" [errorType]="'required'"
                        [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'edv'" [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER 08 NÚMEROS' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'edv'" [errorType]="'maxlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER APENAS 08 NÚMEROS' | translate"></app-error-message>
                </div>

                <!-- Dropdown local: Course -->
                <div class="input-cad-forms">
                    <label class="label-dados">{{'CURSO' | translate}}</label>
                    <app-dropdow-local id="course" table="course" [options]="course"
                        [control]="convertToFormControl(cadastroResponsavel.get('enumCourse'))"></app-dropdow-local>
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'enumCourse'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                </div>

                <div class="input-cad-forms">
                    <label class="label-dados">{{'TURMA' | translate}}</label>
                    <input class="input-dados" type="text" inputmode="numeric" pattern="[0-9]*" formControlName="name_classes"
                        placeholder="{{'INSIRA O NÚMERO DA TURMA' | translate}}" />
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'name_classes'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroResponsavel" [inputSelect]="'name_classes'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 2 NÚMEROS. EX: 01' | translate"></app-error-message>
                </div>
            </div>
        </div>
    </div>
</div>