* {
  font-family: 'Inter', sans-serif;
}

.main-cadastro {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  flex-direction: column;

  .step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 10vh; 
    border-right: 4px solid var(--blue); 
    box-sizing: border-box; 
    padding-top: 20px; 
  }

  .card-confirmacao{
    width: 800px;
    height: auto;


    background-color: var(--background-gray);
    border-radius: 15px;

    padding-bottom: 50px;

    .icon-cad-forms {
      display: flex;
      align-items: center;
      padding-left: 35px;
    }
  
    .fa-solid{
      width: 45px;
      height: 45px;
      margin-top: -18px;
    
      display: inline-flex;
      justify-content: center;
      align-items: center;
    
      background-color: var(--blue);
      border-radius: 50%;
      color: var(--white);

      &.fa-check {
        font-size: 25px;
      }
    }

    .title-forms {
      font-family: 'Inter', sans-serif;
      font-weight: 'Medium';
      font-size: 24px;
  
      padding-left: 35px;
      margin-top: 18px;
  
      color: var(--blue);
  }

    .confirmacao{
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      
      font-size: 20px;
      margin-top: 25px;
      padding-left: 35px;
      color: var(--dark-brown-gray);
    }
  }




  .btn-content {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .btn-next {
    margin-top: 18px;
    background-color: var(--blue);
    color: var(--white);
    width: 125px;
    height: 45px;

    border-radius: 20px;
    border: none;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

}
