<app-header></app-header>
<!-- <app-cadastro-form></app-cadastro-form> -->

<main class="main-cadastro">
    <app-form-equipament  [cadastroEquipamento]="cadastroEquipamento"></app-form-equipament>
    <div *ngIf="currentStep >= 2">
        <app-form-location [cadastroLocalizacao]="cadastroLocalizacao"></app-form-location>
    </div>

    <div *ngIf="currentStep >= 3">
        <form [formGroup]="cadastroResponsavelArray">
           
                <div formArrayName="items">
                    
                    <div *ngFor="let item of returnFormGroups; let i = index" [formGroupName]="i" class="container-forms">
                        <ng-container *ngIf="returnFormGroups.length < 2">
                            <div class="addResponsavel">
                                <button type="button" class="btn-addResponsavel" (click)="addCadastroResponsavel()">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </ng-container>
                        
                        <div class="removerResponsavel" *ngIf="returnFormGroups.length > 1">
                            <button type="button" class="btn-removeResponsavel" (click)="removerResponsavel(i)">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </div>
                        

                        <app-form-responsible [cadastroResponsavel]="item"></app-form-responsible>

                    </div>
                </div>            
        </form>
    </div>

    <div *ngIf="cadastroConcluido == true">
        <div class="step-4"></div>
        <div class="card-confirmacao">
            <div class="icon-cad-forms">
                <i class="fa-solid fa-check"></i>
            </div>
            <h3 class="title-forms">Confirmação de Cadastro</h3>
            <p class="confirmacao">Equipamento cadastrado com sucesso!</p>
        </div>
    </div>

    <div class="btn-content">
        <!-- Botão de avançar -->
        <button class="btn-next" *ngIf="currentStep<3" [disabled]="!isCurrentStepValid()"
            (click)="goToNextStep()">Avançar</button>
            <!-- <button class="btn-next" *ngIf="currentStep<3" 
            (click)="goToNextStep()">Avançar</button> -->
        <!-- Botão de cadastrar -->
        <button class="btn-next" *ngIf="currentStep==3"  [disabled]="!isCurrentStepValid()" (click)="submitForm()">Cadastrar</button>
    </div>
</main>
<app-footer></app-footer>
