<app-header></app-header>
<!-- <app-cadastro-form></app-cadastro-form> -->

<main class="main-cadastro">
    <app-form-equipament  [cadastroEquipamento]="cadastroEquipamento"></app-form-equipament>
    <div *ngIf="currentStep >= 2">
        <app-form-location [cadastroLocalizacao]="cadastroLocalizacao"></app-form-location>
    </div>

    <div *ngIf="currentStep >= 3">
        <app-form-responsible [cadastroResponsavel]="cadastroResponsavel"></app-form-responsible>
    </div>

    <div *ngIf="currentStep >= 4">
        <div class="step-4"></div>
        <div class="card-confirmacao">
            <div class="icon-cad-forms">
                <i class="fa-solid fa-check"></i>
            </div>
            <h3 class="title-forms">Confirmação de Cadastro</h3>
            <p class="confirmacao">Equipamento cadastrado com sucesso!</p>
        </div>
    </div>

    <div class="btn-content">
        <!-- Botão de avançar -->
        <!-- <button class="btn-next" *ngIf="currentStep<3" [disabled]="!isFormGroupsValid()"
            (click)="goToNextStep()">Avançar</button> -->
            <button class="btn-next" *ngIf="currentStep<3" 
            (click)="goToNextStep()">Avançar</button>
        <!-- Botão de cadastrar -->
        <button class="btn-next" *ngIf="currentStep==3"  [disabled]="!isCurrentStepValid()" (click)="submitForm()">Cadastrar</button>
    </div>
</main>
<app-footer></app-footer>
