/* Estilos globais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* Início da estilização do container principal */
.container-inventory {
    display: flex;
    padding: 60px 75px 0px;

    gap: 30px;

    width: 100%;

    justify-content: center;

    /* Início da estilização da área de notificações */
    .container-notifications {
        display: flex;
        flex-direction: column;
        width: 670px;
        max-height: 740px;

        background-color: var(--background-off-white);
        border-radius: 15px;

        overflow-y: auto;
        /* Adiciona um scroll vertical automaticamente */
        overflow-x: hidden;
        /* Esconde o scroll horizontal, se necessário */

        /* Estilização do scrollbar */
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #D9D9D9;
            border-radius: 15px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--muted-brown);
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        /* Início da estilização do cabeçalho das notificações */
        .header-notifications {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 30px 0;

            h1 {
                font-size: 24px;
                font-weight: 500; //corresponde a medium
                color: #011D94;

            }

            /* Estilização do botão de remover filtro */
            .btn-remove-filter {
                width: 100px;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                border: none;
                border-radius: 5px;
                padding: 5px;

                background: none;
                border: none;
                cursor: pointer;
                color: var(--gray-brown);

                &:hover {
                    background-color: var(--background-selected);
                    color: var(--purple);
                }

            }
        }

        /* Início da estilização do conteúdo das notificações */
        .content-notification {
            @extend .container-notifications; // Estilização que pode ser herdada de outra classe

            app-notification-card {
                padding: 0 30px 15px;
            }
        }


        /* Início da estilização do botão "Ver mais" */
        .button-more {
            display: flex;
            justify-content: center;

            button {
                width: 62px;
                height: 19px;

                border: none;
                background: none;
                margin-bottom: 15px;

                font-size: 14px;
                font-family: 'Inter', sans-serif;
                font-weight: bolder;
                color: #011D94;
                text-decoration: underline;

                cursor: pointer;

            }
        }

    }

    /* Início da estilização dos filtros */
    .filters {
        display: flex;
        flex-direction: column;
        width: 440px;
        height: auto;

        gap: 30px;


        h3 {
            font-size: 24px;
            font-weight: 500; //corresponde a medium
            color: #011D94;

            padding: 30px 0px 0px 30px;

        }

        /* Início da estilização do calendário mensal */
        .monthly-calendar {
            width: 100%;
            min-height: 365px;
            max-height: auto;

            background-color: var(--background-off-white);
            border-radius: 15px;

            app-calendar {
                width: 100%;

            }
        }

        /* Início da estilização do filtro de localização */
        .warning-filter {
            width: 100%;
            height: 152px;

            background-color: var(--background-off-white);
            border-radius: 15px;
        }

        /* Início da estilização do filtro de equipamentos */
        .equipament-filter {
            width: 100%;
            height: 152px;

            background-color: var(--background-off-white);
            border-radius: 15px;

            .equipament-form {
                width: 400px;
                padding-left: 20px;

                .form-field {

                    position: relative;

                    /* Início da estilização do ícone de seta */
                    .arrow-icon {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                        color: #B6B2B2;

                    }

                }
            }

        }

    }

}

// Responsividade
@media (min-width: 1700px) {
    .container-inventory {
        display: flex;
        padding: 80px 0;

        gap: 50px;

        .container-notifications {
            width: 770px;
            border-radius: 15px;
        }

        .calendar-filters {
            width: 450px;

            /* Início da estilização do calendário em telas grandes */
            .monthly-calendar {
                width: 100%;
            }

        }

    }
}