* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container-inventory {
    display: flex;
    padding: 60px 75px 0px;

    gap: 30px;

    width: 100%;

    justify-content: center;

    .container-notifications {
        display: flex;
        flex-direction: column;
        width: 670px;
        max-height: 740px;

        background-color: var(--background-off-white);
        border-radius: 15px;

        overflow-y: auto;
        /* Adiciona um scroll vertical automaticamente */
        overflow-x: hidden;
        /* Esconde o scroll horizontal, se necessário */

        &::-webkit-scrollbar {
            width: 6px;
            /* Largura do scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            /* Cor de fundo do scrollbar */
            border-radius: 3px;
            /* Arredondar os cantos da track */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #D9D9D9;
            border-radius: 15px;

        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--muted-brown);
            /* Cor do thumb ao passar o mouse */
        }

        &::-webkit-scrollbar-button {
            display: none;
            /* Oculta as setas de navegação */
        }

        .header-notifications {
            display: flex;
            /* Usar flexbox para alinhar elementos */
            justify-content: space-between;
            /* Espaço entre os itens, empurrando o botão para a direita */
            align-items: center;
            padding: 25px 30px 0;

            h1 {
                font-size: 24px;
                font-weight: 500; //corresponde a medium
                color: #011D94;

            }

            .btn-romove-filter {
                width: 100px;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                border: none;
                border-radius: 5px;
                padding: 5px;

                background: none;
                border: none;
                cursor: pointer;
                color: var(--gray-brown);
                /* Cor dos ícones */

                &:hover {
                    background-color: var(--background-selected);
                    color: var(--purple);
                }

            }
        }


        .content-notification {
            @extend .container-notifications;

            app-notification-card {
                padding: 0 30px 15px;
            }
        }


        .button-more {
            display: flex;
            justify-content: center;

            button {
                width: 62px;
                height: 19px;

                border: none;
                background: none;
                margin-bottom: 15px;

                font-size: 14px;
                font-family: 'Inter', sans-serif;
                font-weight: bolder;
                color: #011D94;
                text-decoration: underline;

                cursor: pointer;

            }
        }

    }

    .filters {
        display: flex;
        flex-direction: column;
        width: 440px;
        height: auto;

        gap: 30px;
        

        h3 {
            font-size: 24px;
            font-weight: 500; //corresponde a medium
            color: #011D94;

            padding: 30px 0px 0px 30px;

        }

        .monthly-calendar {
            width: 100%;
            min-height: 365px;
            max-height: auto;

            background-color: var(--background-off-white);
            border-radius: 15px;

            app-calendar {
                width: 100%;

            }
        }

        .warning-filter {
            width: 100%;
            height: 152px;

            background-color: var(--background-off-white);
            border-radius: 15px;


        }

        .equipament-filter {
            width: 100%;
            height: 152px;

            background-color: var(--background-off-white);
            border-radius: 15px;

            .equipament-form {
                width: 400px;
                padding-left: 20px;

                .form-field {

                    position: relative;

                    .arrow-icon {
                        position: absolute;
                        right: 10px;
                        /* Ajuste a distância do ícone do lado direito conforme necessário */
                        top: 50%;
                        transform: translateY(-50%);
                        /* Centraliza verticalmente */
                        pointer-events: none;
                        /* Evita que o ícone interfira na interação com o input */
                        color: #B6B2B2;

                    }

                }
            }

        }

    }

}

// responsividade
@media (min-width: 1700px) {
    .container-inventory {
        display: flex;
        padding: 80px 0;

        gap: 50px;

        .container-notifications {
            width: 770px;
            border-radius: 15px;
        }

        .calendar-filters {
            width: 450px;

            .monthly-calendar {
                width: 100%;
            }

        }

    }
}