<app-header></app-header>



<div class="container">
    <div class="grid_salas">
        <div class="lab_01">
            <img src="./assets/images/PNG/Lab04_05_Final.png" alt="">
            <button>Laboratorio 1</button>
        </div>
        <div class="lab_02">
            <img src="./assets/images/PNG/Lab02Final.png" alt="">
        </div>
        <div class="lab_03">
            <img src="./assets/images/PNG/Lab03Final.png" alt="">
                
        </div>
    </div>
    <div id="webglContainer">
        <canvas id="webgl"></canvas>
    </div>
</div>
