
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#webgl {
    position: absolute;
}

::ng-deep {
    .tooltip {
        background-color: white;
        color: black;
        content: '';
        padding: 10px;
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity, transform;
        font-weight: 600;
        font-family:'Inter', sans-serif;
    }

    .hide {
        opacity: 0;
        transform: translateY(-10px);
    }

    .show {
        opacity: .8;
        transform: translateY(0px);
    }
}