<app-header></app-header>



<div class="container">
    <div class="grid_salas">
        <div class="lab_01">
            <img src="./assets/images/PNG/Lab04_05_Final.png" alt="">
            <button>Laboratorio 01</button>
        </div>
        <div class="lab_02">
            <img src="./assets/images/PNG/Lab02Final.png" alt="">
            <button>Laboratorio 02</button>
        </div>
        <div class="lab_03">
            <img src="./assets/images/PNG/Lab03Final.png" alt="">
            <button>Laboratorio 03</button>
        </div>
    </div>
    <div id="webglContainer">
        <canvas id="webgl"></canvas>
        <div class="details">
            <label for="name_lab">Laboratorio 01</label>
            <app-carrosel *ngIf="generalService.showCarroselog" ></app-carrosel>
            <button id="details-button" (click)="generalService.showCarroselog = true" >Ver Detalhes</button> 
        </div>
    </div>
</div>
