<header>
    <div class="container"></div>
    
    <div class="logo-container">
        <div class="heading">
            <img src="assets/images/svg/Logo_Mapview.svg" alt="Logo"/>
        </div> 
        
        <div class="search-container">
            <form>
                <input type="text" placeholder="Pesquise um notebook" name="search">
                <button type="submit"><mat-icon>search</mat-icon></button>
            </form>
            <mat-icon class="notification-icon">notifications</mat-icon>
            <mat-icon class="circle-user" (click)="toggleProfileCard()">account_circle</mat-icon>
        </div>
    </div>

    <div class="navbar">
        <h3 (click)="onAmbiente()" [ngClass]="{ 'selected': selectedItem === 'Ambientes' }">{{ 'ENVIRONMENTS' | translate }}</h3>
        <h3 (click)="onCadastro()" [ngClass]="{ 'selected': selectedItem === 'Cadastro' }">{{ 'REGISTER' | translate }}</h3>
        <h3 (click)="onHistorico()" [ngClass]="{ 'selected': selectedItem === 'Historico' }">{{ 'HISTORY' | translate }}</h3>
        <h3 (click)="onIventario()" [ngClass]="{ 'selected': selectedItem === 'Iventario' }">{{ 'INVENTORY' | translate }}</h3>
      </div>

      <app-profile-card *ngIf="showProfileCard"></app-profile-card>
</header>
