<div class="input-cad-forms">
    <select class="input-dados" (change)="onSelect()" [value]="selectedValue" [formControl]="control">
        <option value="" disabled selected hidden>Selecione uma opção</option>
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
        <!-- Adicionar o botão para cadastrar novos ambientes -->
    </select>
    <ng-container *ngIf="table === 'enviroment'">
        <button>Click Here</button>
    </ng-container>
</div>
