<app-header></app-header>
<div class="container-inventory">
    <!-- Área das notificações -->
        <section class="container-notifications">
            <h1>Notificações</h1>

            <app-notification-card></app-notification-card>

            <div class="button-more">
                <button class="button-view-more">Ver mais</button>
            </div>

        </section>

        <section class="calendar-filters">

            <!-- Calendário mensal -->
            <div class="monthly-calendar">
                <h3>Julho 2024</h3>

            </div>

            <!-- Filtro de avisos -->
            <div class="warning-filter">
                <h3>Localização</h3>

                <div class="buttons-warning">
                    <button class="button-red">
                        <mat-icon class="status-red">lens</mat-icon>
                        Não Cadastrado
                    </button>
    
                    <button class="button-yellow">
                        <mat-icon class="status-yellow">lens</mat-icon>
                        Externo 
                    </button>
    
                    <button class="button-green">
                        <mat-icon class="status-green">lens</mat-icon>
                        Interno
                    </button>
                </div>
            </div>

            <!-- Filtro de notrbooks -->
            <div class="equipament-filter">
                <h3>Equipamento</h3>

                <!-- Autocomplete  -->
                <form [formGroup]="stateForm">
                    <mat-form-field>
                      <mat-label>States Group</mat-label>
                      <input type="text"
                             matInput
                             formControlName="stateGroup"
                             required
                             [matAutocomplete]="autoGroup">
                        <mat-autocomplete #autoGroup="matAutocomplete">
                          @for (group of stateGroupOptions | async; track group) {
                            <mat-optgroup [label]="group.letter">
                              @for (name of group.names; track name) {
                                <mat-option [value]="name">{{name}}</mat-option>
                              }
                            </mat-optgroup>
                          }
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>

            </div>
        </section>

</div>