 <div class="calendar">
  <header>
    
    <h3>{{ currentMonth.format('MMMM YYYY') }}</h3>
    <button (click)="changeMonth(-1)">
      &#9664;
    </button>
    <button (click)="changeMonth(1)">
      &#9654;
    </button>
  </header>
  <table>
    <thead>
      <tr>
        <th *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of days | slice:0:7; let i = index">
        <td *ngFor="let day of days.slice(i * 7, (i + 1) * 7)" 
          [class.today]="isToday(day)"
          [class.selected]="isSelected(day)"
          (click)="selectDate(day)">{{ day.date() }}
          <!-- comentario para ogit -->
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <button (click)="submitDate()" [disabled]="!selectedDate">Submit</button> -->
</div>