<app-header></app-header>
<main class="main-cadastro">



    <!-- Primeira Etapa do formulário -->
    <form [formGroup]="cadastroEquipamento">
        <div class="container-forms-equipamento">
            <div class="icon-cad-forms">
                <mat-icon fontIcon="settings" class="settings">settings</mat-icon>
            </div>

            <h3 class="title-cad-forms">Dados do Equipamento</h3>

            <div class="content-cad-forms">

                <div class="cad-forms">
                    <div class="input-cad-forms">
                        <label class="label-dados" for="">ID do equipamento</label>
                        <input class="input-dados" type="text" placeholder="Número localizado na etiqueta">
                    </div>

                    <div class="input-cad-forms">
                        <label class="label-dados" for="">RFID</label>
                        <input class="input-dados" type="text" placeholder="Numeração da etiqueta RFID">
                    </div>



                    <div class="input-cad-forms">
                        <label class="label-dados" for="">Tipo de equipamento</label>
                        <input class="input-dados" type="text" placeholder="Selecione um equipamento">
                    </div>

                    <div class="input-cad-forms">
                        <label class="label-dados" for="">Modelo</label>
                        <input class="input-dados" type="text" placeholder="Ex. Standard">
                    </div>



                    <div class="input-cad-forms">
                        <label class="label-dados" for="">ID do usuário principal</label>
                        <input class="input-dados" type="text" placeholder="Ex. AAA1CA">
                    </div>

                    <div class="input-cad-forms">
                        <label class="label-dados" for="">Centro de custos</label>
                        <input class="input-dados" type="text" placeholder="Ex. 123456">
                    </div>



                    <div class="input-cad-forms">
                        <label class="label-dados" for="">Data de Substituiçao</label>
                        <input class="input-dados" type="text" placeholder="Ex. 2024.Q1">
                    </div>

                    <div class="input-cad-forms">
                        <label class="label-dados" for="">Admin Rigths</label>
                        <input class="input-dados" type="text" placeholder="Ex. RITMO0123456789">
                    </div>

                    <div class="input-cad-obs">
                        <label class="label-dados" for="">Observação</label>
                        <input class="input-obs" type="text" placeholder="Comentários sobre o equipamento">
                    </div>
                </div>
            </div>
        </div>
        <!-- localização dos notebooks -->
        <div *ngIf="currentStep >= 2">
            <div class="step-2"></div>
            <div  class="container-forms-localizacao">
                <div class="icon-cad-forms">
                    <mat-icon fontIcon="location" class="settings">location</mat-icon>
                </div>

                    <h3 class="title-cad-forms">Localização</h3>

                    <div class="content-cad-forms">
                        <div class="cad-forms">
                            <div class="input-cad-forms">
                                <label class="label-dados" for="">Prédio</label>
                                <input class="input-dados" type="text" placeholder="Selecione o prédio">
                            </div>

                            <div class="input-cad-forms">
                                <label class="label-dados" for="">Setor</label>
                                <input class="input-dados" type="text" placeholder="EX.ETS">
                            </div>

                        
                            <div class="input-cad-forms">
                                <label class="label-dados" for="">Laboratório</label>
                                <input class="input-dados" type="text" placeholder="Selecione o Labortório">
                            </div>
    
                            <div class="input-cad-forms">
                                <label class="label-dados" for="">Posto</label>
                                <input class="input-dados" type="text" placeholder="EX. PC 01">
                            </div>
                        </div>   


                    </div>
                </div>   
        </div>
        <!-- Dados do responsavel -->
        <div *ngIf="currentStep >= 3">
            <div class="step-3"></div>
            <div *ngIf="responsaveis.length < 5">
                <button type="button" class="addResponsavel" (click)="addResponsavel()">Adicionar Responsável</button>
            </div>
            <div  class="container-forms-responsavel">
                <div class="icon-cad-forms">
                    <mat-icon fontIcon="settings" class="settings">settings</mat-icon>
                </div>

                    <h3 class="title-cad-forms">Dados do Responsável</h3>

                    <div class="content-cad-forms">
                        <div class="cad-forms" *ngFor="let responsavel of responsaveis; let i = index">
                            <div class="input-cad-forms">
                                <label class="label-dados">Nome do responsável</label>
                                <input class="input-dados" type="text" placeholder="Nome completo">
                            </div>
    
                            <div class="input-cad-forms">
                                <label class="label-dados">EDV</label>
                                <input class="input-dados" type="text" placeholder="EX.99999999">
                            </div>
    
                            <div class="input-cad-forms">
                                <label class="label-dados">Curso</label>
                                <input class="input-dados" type="text" placeholder="Selecione o curso da turma">
                            </div>
    
                            <div class="input-cad-forms">
                                <label class="label-dados">Turma</label>
                                <input class="input-dados" type="text" placeholder="Insira o número da turma">
                            </div>
                    </div>
                </div>   
            </div>    
        </div>
    </form>
    <!-- 
    <div *ngIf="currentStep >= 4">
        <p>etapa 4</p>
    </div>
    <div *ngIf="currentStep >= 5">
        <p>etapa 5</p>
    </div> -->
    <div class="btn-content">
        <button class="btn-next" (click)="goToNextStep()">Avançar</button>
    </div>
</main>
<app-footer></app-footer>