<!-- Cadastro Localização do equipamento -->
<form [formGroup]="cadastroLocalizacao">
    <div class="step-2"></div>

    <div class="container-forms">
        <div class="icon-forms">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <h3 class="title-forms">{{'LOCALIZAÇÃO' | translate}}</h3>

        <div class="content-forms">
            <div class="content-cad-forms">

                <!-- Dropdown dynamic: Enviroment -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'LABORATÓRIO'| translate}}</label>
                    <app-dropdow-dynamic [options]="environmentOptions" table="environment"
                        [control]="convertToFormControl(cadastroLocalizacao.get('id_environment'))"
                        [generalService]="generalService">
                    </app-dropdow-dynamic>
                    <!-- Modal de cadastro de novo ambiente -->
                    <app-location-popup *ngIf="generalService.showLocationlog"
                        (refreshData)="loadEnvironments()"></app-location-popup>
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroLocalizacao" [inputSelect]="'id_environment'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                </div>

                <!-- Input: Posto -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{'POSTO'| translate}}</label>
                    <input class="input-dados" type="text" placeholder="EX. Mesa 01" formControlName="post">
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroLocalizacao" [inputSelect]="'post'"
                        [errorType]="'required'" [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                    <app-error-message [formGroup]="cadastroLocalizacao" [inputSelect]="'post'"
                        [errorType]="'minlength'"
                        [errorMessage]="'O CAMPO DEVE CONTER PELO MENOS 2 CARACTERES. EX: 01' | translate"></app-error-message>
                </div>


                 <!-- Input: Building -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{ 'PRÉDIO' | translate }}</label>
                    <input class="input-dados" type="text" placeholder="Código do Prédio" formControlName="building_code" >
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroLocalizacao" [inputSelect]="'building_code'" [errorType]="'required'"
                    [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                </div>

                 <!-- Input: Area -->
                <div class="input-cad-forms">
                    <label class="label-dados" for="">{{ 'SETOR' | translate }}</label>
                    <input class="input-dados" type="text" placeholder="Área" formControlName="area_code" >
                    <!-- Mensagens de erro -->
                    <app-error-message [formGroup]="cadastroLocalizacao" [inputSelect]="'area_code'" [errorType]="'required'"
                    [errorMessage]="'CAMPO OBRIGATÓRIO' | translate"></app-error-message>
                </div>

            </div>
        </div>
    </div>
</form>