.container{
    margin-top: 100px;
    margin-bottom: 400px;
}


.div {
    border: solid 1px blue;
      padding: 3px;
      margin: 0 auto;
      width: 1009px;
      height: 708px;
      
  }

#webgl{
    position: absolute;
}


.tooltip {
    background-color: blue;
    color: white;
    padding: 10px;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.tooltip::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: blue;
    top: 90%;
    left: 50%;
    transform: rotateZ(45deg) translateX(-50%);
    z-index: -1;
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.show {
    opacity: 1;
    transform: translateY(0px);
}