<div class="popUpContainer">
    <h2>Resultado de Busca</h2>
    <mat-icon class="fechar" (click)="generalService.showDialog=false">close</mat-icon>
    <div class="grid-info">
        <img src="assets/images/svg/Lenovo - TinkPad 4.svg">
        <p>Notebook 12</p>
        <p>Localização Atual: Lab 02</p>
        <p>Responsavel</p>
        <img src="assets/images/svg/Lenovo - TinkPad 4.svg">
        <p>Notebook 12</p>
        <p>Localização Atual: Lab 02</p>
        <p>Responsavel</p>
        <img src="assets/images/svg/Lenovo - TinkPad 4.svg">
        <p>Notebook 12</p>
        <p>Localização Atual: Lab 02</p>
        <p>Responsavel</p>
    </div>
    
</div>