<div class="profile-card">
    <p>{{ 'HELLO' | translate }}</p>
  
    <button mat-button [matMenuTriggerFor]="idioma">
      <div class="valign-center">
        <span class="dropdown-text">
          <mat-icon class="language-icon">language</mat-icon>
          Traduzir
        </span>
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </div>
    </button>
  
    <!-- Menu abre para a esquerda -->
    <mat-menu #idioma="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="changeLanguage('en')">{{ 'LANGUAGE_EN' | translate }}</button>
      <button mat-menu-item (click)="changeLanguage('pt')">{{ 'LANGUAGE_PT' | translate }}</button>
    </mat-menu>
  
    <button mat-button [matMenuTriggerFor]="acessibilidade">
      <div class="valign-center">
        <span class="dropdown-text">
          <mat-icon class="accessibility-icon">accessibility_new</mat-icon>
          Acessibilidade
        </span>
      </div>
    </button>
  
    <!-- Menu abre para a esquerda -->
    <mat-menu #acessibilidade="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="toggleAccessibility()">{{ 'ACCESSIBILITY' | translate }}</button>
    </mat-menu>
  
    <div class="valign-center sair-container">
      <mat-icon class="sair-icon">exit_to_app</mat-icon>
      <span>Sair</span>
    </div>
  </div>
  