<app-header></app-header>
<div class="container-inventory">
    <!-- Área das notificações -->
    <section class="container-notifications">
        <div class="header-notifications">
            <h1>Notificações</h1>
            <button class="btn-romove-filter" (click)="removeFilter()" *ngIf="isFiltered">
                <i class="fa-solid fa-filter-circle-xmark"></i>
                Limpar
            </button>
        </div>
        <div class="content-notification">
            <!-- Renderiza apenas as notificações exibidas -->
            <app-notification-card *ngFor="let notification of displayNotifications" [warning]="notification.warning"
                [equipmentName]="notification.equipmentName" [rfid]="notification.rfid" [action]="notification.action"
                [environmentName]="notification.environmentName" [dateTime]="notification.dateTime">
            </app-notification-card>

        </div>

        <!-- Botão Ver mais -->
        <div class="button-more"
            *ngIf=" displayNotifications.length > 0 && ((displayNotifications.length < notifications.length && !isFiltered) || (displayNotifications.length < filteredNotifications.length && isFiltered))  ">
            <button class="button-view-more" (click)="showMoreNotifications()">Ver mais</button>
        </div>

    </section>

    <section class="calendar-filters">

        <!-- Calendário mensal -->
        <div class="monthly-calendar">
            <app-calendar (dateSelected)="filterNotificationsByDate($event)"></app-calendar>

        </div>

        <!-- Filtro de avisos -->
        <div class="warning-filter">
            <h3>Localização</h3>
            <app-warning-btn-filters (warningSelected)="filterByWarnin($event)"> </app-warning-btn-filters>
        </div>

        <!-- Filtro de notrbooks -->
        <div class="equipament-filter">
            <h3>Equipamento</h3>
            <app-autocomplete [options]="this.idEquipment" (optionSelected)="filterNotificationsByID($event)">
            </app-autocomplete>
        </div>
    </section>
</div>

<app-no-results-popup *ngIf="generalService.showFilterlog"></app-no-results-popup>

<app-footer></app-footer>