*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container-inventory {
    display: flex;
    padding: 60px 75px 82px;

    gap: 30px;
    
    width: 100%;

    .container-notifications {
        display: flex;
        flex-direction: column;
        width: 670px;
        height: auto; //rever dps
        
        background-color: #FAFAFB;
        border-radius: 15px;
    
        h1{
            font-size: 24px;
            font-weight: 500; //corresponde a medium
            color: #011D94;
            
            padding: 25px 30px;
        }
    
        app-notification-card{
            padding: 0 30px 15px;
        }
    
        .button-more{
            display: flex;
            justify-content: center;
    
            button {
                width: 62px;
                height: 19px;
        
                border: none;
                background: none;
                margin-bottom: 15px;
    
                font-size: 14px;
                font-family: 'Inter', sans-serif;
                font-weight: bolder;
                color: #011D94;
                text-decoration: underline ;
    
                cursor: pointer;
        
            }
        }
        
    }
    
    .calendar-filters{
        display: flex;
        flex-direction: column;
        width: 440px;
        height: auto; 
        
        gap: 30px;
    
        h3{
            font-size: 24px;
            font-weight: 500; //corresponde a medium
            color: #011D94;
            
            padding: 30px 0px 0px 30px;

        }
        
        .monthly-calendar{
            width: 100%;
            height: 365px;
    
            background-color: #FAFAFB;
            border-radius: 15px;

            app-calendario{
                width: 20px;
                
            }
        }
    
        .warning-filter{
            width: 100%;
            height: 152px; 
    
            background-color: #FAFAFB;
            border-radius: 15px;
            
            .buttons-warning{
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 100%;
                height: 54px;
                gap: 7px;

                button{
                    cursor: pointer;
                }
                 
                
                .button-red{
                    display: flex;
                    align-items: center;
                    
                    
                    padding: 18px 0 18px;
                    width: 170px;
                    
                    border: none;
                    border-radius: 15px;
                    background-color: #FFFFFF;  
                    
                    font-size: 16px;
                    
                    gap: 8px;
                    
                    .status-red{
                        display: flex;
                        align-items: center;
                        width: fit-content; //faz com que ele tenha o tamanho do conteudo
                        color: #DD2121;
                        font-size: 20px;
                        
                        padding-left: 10px;
                        
                    }
                    
                    &:hover{
                        background-color: #ECE8F4;
                        color: #6338AF;
                    }

                }

                .button-yellow{
                    display: flex;
                    align-items: center;
                    
                    padding: 18px 0 18px;
                    width: 110px;

                    border: none;
                    border-radius: 15px;
                    background-color: #FFFFFF;  

                    font-size: 16px;
                                    
                    gap: 8px;

                    .status-yellow{
                        display: flex;
                        align-items: center;
                        width: fit-content; //faz com que ele tenha o tamanho do conteudo
                        color: #FFB650;

                        font-size: 20px;
                        padding-left: 10px;
                        
                    }

                    &:hover{
                        background-color: #ECE8F4;
                        color: #6338AF;
                    }

                }

                .button-green{
                    display: flex;
                    align-items: center;

                    padding: 18px 0 18px;
                    width: 103px;

                    border: none;
                    border-radius: 15px;
                    background-color: #FFFFFF;

                    font-size: 16px;

                    gap: 8px;

                    .status-green{
                        display: flex;
                        align-items: center;
                        width: fit-content; //faz com que ele tenha o tamanho do conteudo
                        color: #1EA01E;
                        
                        font-size: 20px;                     
                        padding-left: 10px;
                        
                    }

                    &:hover{
                        background-color: #ECE8F4;
                        color: #6338AF;
                    }
                    
                }
            }
        }

        .equipament-filter{
            width: 100%;
            height: 152px; 
    
            background-color: #FAFAFB;
            border-radius: 15px;

            .equipament-form{
                width: 400px;
                padding-left: 20px;

                .form-field{

                    position: relative;

                    & input{
                        width: 100%;
                        height: 44px;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;

                        background-color: #FFFFFF;
                        padding-left: 15px;
                        padding-right: 40px; /* Adicione espaço para o ícone */

                        border-radius: 20px;
                        border: none;
                        outline: none;
                        
                    }
                    .arrow-icon{
                        position: absolute;
                        right: 10px; /* Ajuste a distância do ícone do lado direito conforme necessário */
                        top: 50%;
                        transform: translateY(-50%); /* Centraliza verticalmente */
                        pointer-events: none; /* Evita que o ícone interfira na interação com o input */
                        color: #B6B2B2;      
                    
                    }

                }
            }

        }
    
    }

}

