<app-header></app-header>
<div class="container-inventory">
    <!-- Área das notificações -->
        <section class="container-notifications">
            <h1>Notificações</h1>

            <div *ngFor="let notification of notifications">
                <app-notification-card
                    [warning]="notification.warning"
                    [equipmentName]="notification.equipmentName"
                    [action]="notification.action"
                    [environmentName]="notification.environmentName"
                    [dateTime]="notification.dateTime">
                </app-notification-card>
            </div>

            <div class="button-more">
                <button class="button-view-more">Ver mais</button>
            </div>

        </section>

        <section class="calendar-filters">

            <!-- Calendário mensal -->
            <div class="monthly-calendar">
                <app-calendario></app-calendario>

            </div>

            <!-- Filtro de avisos -->
            <div class="warning-filter">
                <h3>Localização</h3>

                <div class="buttons-warning">
                    <button class="button-red">
                        <mat-icon class="status-red">lens</mat-icon>
                        Não Cadastrado
                    </button>
    
                    <button class="button-yellow">
                        <mat-icon class="status-yellow">lens</mat-icon>
                        Externo 
                    </button>
    
                    <button class="button-green">
                        <mat-icon class="status-green">lens</mat-icon>
                        Interno
                    </button>
                </div>
            </div>

            <!-- Filtro de notrbooks -->
            <div class="equipament-filter">
                <h3>Equipamento</h3>
                <app-autocomplete></app-autocomplete>
            </div>
        </section>
</div>
<app-footer></app-footer>